*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;

    display: flex;
    align-items: center;

    margin-bottom: 30px;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #FFF;
    z-index: 99;
}

.menu-button{
    background-color: #FFF;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    padding: 0px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin-right: 28px;

    cursor: pointer;
    position: relative;
}

.line-menu{
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: #1F2022;
    position: absolute;
}

.menu-button .line-menu:nth-child(1){
    top: 0px;
}
.menu-button .line-menu:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
.menu-button .line-menu:nth-child(3){
    bottom: 0px;
}


.logo_link{
    margin-right: 60px;
}

.input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #EBEBEB;
    border-radius: 22px;
    overflow: hidden;

    padding-right: 20px;
    margin-right: 40px;

    max-width: 830px;
    width: 50%;
}

.input-search{
    background-color: transparent;
    border: none;
    padding: 12px 23px;
    width: 100%;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.input-search:focus{
    outline: none;
}

.button-search{
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    padding: 0px;
}
.button-search:active,
.button-search:hover,
.button-search:focus{
    outline: none;
}

.icon-search{
    fill: #000;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons-link{
    text-decoration: none;
    opacity: .24;
}

.icons-link:hover,
.icons-link:focus{
    opacity: .7;
}

.icons-link:not(:last-child){
    margin-right: 50px;
}
.user{
    margin-left: 45px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.sidebar{
    padding-left: 32px;

    position: fixed;
    left: 0px;
    top: 114px;
    height: calc( 100% - 114px );
    overflow-y: scroll;
    width: 280px;
    background-color: #FFF;
}

.content{
    margin-top: 84px;
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 70px;
    box-sizing: border-box;

    width: 100%;

}

.nav-menu{
    list-style: none;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 60px;
}

.nav-subscriptions{
    margin-bottom: 104px;
}

.nav-item:not(:last-child){
    margin-bottom: 28px;
}

.nav-link{
    text-decoration: none;
    color: #898989;
    display: flex;
    align-items: center;
}


.nav-link .icon{
    fill: #898989;
}
.nav-text{
    margin-left: 13px;
}

.nav-link:hover,
.nav-link:focus{
    color: #FF0000; 
}

.nav-link:hover .icon,
.nav-link:focus .icon{
    fill: #FF0000;
}

.nav-active{
    color: #FF0000;
}
.nav-active .icon{
    fill: #FF0000;
}

.nav-item.d-none{
    display: none;
}

#sub-menu{
    margin-bottom: 0px;
    transform: all .4s;
}
#sub-menu .nav-item{
    margin-bottom: 28px;
}

.show-more{
    margin-bottom: 60px;
}


.nav-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}

.nav-images{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}


.chanel{
    position: relative;
    margin-bottom: 50px;
}
.chanel-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
}
.chanel-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.chanel-text{
    font-size: 26px;
    line-height: 31px;
    color: #19202C;
    font-weight: bold;
    
}


.video-card{
    width: 100%;
}

.video-thumb{
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 10px;
}
.thumbnail{
    width: 100%;
    height: 150px;
    max-width: 100%;
    object-fit: cover;
}
.video-time{
    position: absolute;
    right: 10px;
    bottom: 10px;

    background-color: rgba(0, 0, 0, .4);
    border-radius: 12px;
    color: #FFF;
    font-size: 14px;
    line-height: 18px;

    padding: 3px 9px;
}

.video-title{
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
}

.video-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.video-view::after{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 4px;
}

.video-chanel{
    text-decoration: none;
    color: #C2C2C2;
}

.slider-buttons{
    position: absolute;
    top: 10px;
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66px;
}

.chanel-button{
    cursor: pointer;
}
.chanel-button-icon{
    opacity: .24;
}
.chanel-button:focus{
    outline: none;
}

.chanel-button-icon:hover,
.chanel-button-icon:focus{
    opacity: .7;
    outline: none;
}


.recommended{
    position: relative;
    margin-bottom: 50px;
}

.recommended-text{
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
}
.recommended .slider-buttons{
    top: 5px;
}

.recommended .video-card{
    width: 100%;
}
.recommended .thumbnail{
    width: 100%;
    height: 250px;
}

.recommended-button{
    cursor: pointer;
}
.recommended-button-icon{
    opacity: .24;
}
.recommended-button:focus{
    outline: none;
}

.recommended-button-icon:hover,
.recommended-button-icon:focus{
    opacity: .7;
    outline: none;
}

.chanel-recommended{
    position: relative;
    margin-bottom: 50px;
}
.chanel-recommended-info{
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.chanel-recommended-title{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.chanel-recommended-name{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.chanel-recommended-text{
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin-right: 19px;
}

.chanel-recommended-description{
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}

.chanel-btn{
    border: none;
    outline: none;
    background: #FF0000;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: auto;
}

.chanel-recommended-button{
    cursor: pointer;
}
.chanel-recommended-button-icon{
    opacity: .24;
}
.chanel-recommended-button:focus{
    outline: none;
}

.chanel-recommended-button-icon:hover,
.chanel-recommended-button-icon:focus{
    opacity: .7;
    outline: none;
}


.mobile-sitebar{
    display: none;
}

.mobile-search{
    display: none;
}
@media( max-width: 1100px ){
    .header,
    .content{
        padding-right: 20px;
    }

    .icons-link:not(:last-child){
        margin-right: 30px;
    }
}

@media( max-width: 800px ){
    .sidebar{
        width: 260px;
    }
    .content{
        padding-left: 280px;
    }

    .chanel-avatar{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .chanel-text,
    .chanel-recommended-text{
        font-size: 18px;
    }

    .recommended-text{
        font-size: 20px;
    }
    .chanel-recommended-info{
        width: 80%;
    }
    .chanel-recommended-info,
    .chanel-recommended-title{
        flex-wrap: wrap;
    }
    .chanel-recommended-name{
        flex-direction: column;
        align-items: flex-start;
    }

    .chanel-recommended-description{
        font-size: 14px;
    }

    .chanel-btn{
        margin-top: 10px;
        margin-left: 50px;
        font-size: 14px;
    }
    .icons{
        display: none;
    }

}

@media( max-width: 640px ){
    .header{
        box-shadow: 0 0 10px 0 #bcbfc4;
    }
    .logo_link{
        margin-right: 20px;
    }
    .menu-button{
        height: 20px;
    }
    .sidebar{
        left: -1000px;
        z-index: 99;
        top: 83px;
        height: 100%;
        transition: left .4s;
        padding-top: 30px;
    }

    .sidebar.is-open{
       left: 0px;
    }
    .menu-button.is-open .line-menu{
        top: 50%;
    }
    .menu-button.is-open .line-menu:nth-child(2){
        display: none;
    }
    .menu-button.is-open .line-menu:nth-child(1){
        transform: rotate(45deg);
    }
    .menu-button.is-open .line-menu:nth-child(3){
        transform: rotate(-45deg);
    }

    .nav-title{
        margin-bottom: 20px;
    }
    .nav-subscriptions{
        margin-bottom: 40px;
    }

    .content{
        padding-left: 20px;
    }

    .input-group{
        position: absolute;
        top: -100px;
        left: 50%;
        opacity: 0;
        width: 90%;
        margin: auto;
        transform: translateX(-50%);
        transition: top .4s;
    }

    .input-group.is-open{
        top: 100px;
        opacity: 1;
    }

    .mobile-search{
        display: block;
        margin-left: auto;
        outline: none;
    }
    .mobile-sitebar{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: #FFF;
        z-index: 99;
        display: block;
        border-top: 1px solid #F1F1F1;
        padding-top: 13px;
        padding-bottom: 11px;
    }
    .mobile-sitebar .nav-menu{
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mobile-sitebar .nav-item:not(:last-child){
        margin-bottom: 0px;
    }


    .mobile-sitebar .nav-link{
        display: flex;  
        flex-direction: column;
    }

    .mobile-sitebar .nav-text{
        margin-left: 0px;
        font-size: 10px;
        line-height: 13px;
        margin-top: 5px;
    }

    .slider-buttons{
        display: none;
    }
    .swiper-wrapper{
        display: flex;
        flex-direction: column;
    }
    .swiper-slide{
        margin-bottom: 40px;
    }

    .chanel-recommended-title{
        flex-wrap: nowrap;
    }
    .chanel-recommended-title{
        width: 60%;
    }
    .chanel-recommended-text{
        margin-right: 0px;
    }
    .chanel-recommended-info{
        width: 100%;
    }
    .chanel-btn{
        margin-top: 0px;
        margin-left: 10px;
        width: 35%;
        border-radius: 10px;
        padding: 5px 10px;
    }
    .thumbnail,
    .recommended .thumbnail{
        height: 200px;
    }
}